<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
                     debug="false">

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="target/testFramework.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="10240KB" />
        <param name="MaxBackupIndex" value="4" />
        <param name="Threshold" value="DEBUG" />

        <layout class="org.apache.log4j.PatternLayout">
            <!--            <param name="ConversionPattern" value="%-2d{dd/MM/yy HH:mm:ss,SSS} %-5p [%c{1}:%L] %m %n" />-->
            <param name="ConversionPattern" value="%-2d{dd/MM/yy HH:mm:ss,SSS} %-5p [%c{2}:%L] %m %n" />

        </layout>
    </appender>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="INFO" />

        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%m %n" />-->
            <param name="ConversionPattern" value="%-2d{dd/MM/yy HH:mm:ss,SSS} %-5p %m %n" />
			
        </layout>
    </appender>

    <!--<logger name="org.planotius">
        <level value="debug"/> 
        <appender-ref ref="FILE" />
    </logger>-->
    
    <logger name="org.apache">
        <level value="OFF"/> 
        <appender-ref ref="FILE" />
    </logger>
    
    <root>
        <priority value="debug" />
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />

    </root>
    


</log4j:configuration>